<div class="row">
    <div class="col-12 text-center">
        <h3>
            {{todayTime}}
        </h3>
    </div>
    <div class="col-12 col-md-4 offset-md-4 text-center">
        <nb-card class="counter-card">
            <nb-card-body class="d-flex justify-content-center align-items-center fa-4x text-primary">
                {{counter}}
            </nb-card-body>
        </nb-card>
        <!-- <div class="add-topic d-flex justify-content-center ">
            <input type="text" class="form-control" placeholder="Add Topic">
        </div> -->
        <div class=" d-flex justify-content-center mt-3">
            <button class="btn btn-info" nbButton status="basic" (click)="open(addDetails)">
                <span *ngIf="!isStarted">
                    <nb-icon icon="play-circle-outline" pack="eva" class="m-1"></nb-icon> Start
                </span>
                <span *ngIf="isStarted">
                    <nb-icon icon="stop-circle-outline" pack="eva" class="m-1"></nb-icon> Stop
                </span>
            </button>
            <button class="btn btn-info ml-3" nbButton status="basic" (click)="resetCounter()">
                <span>
                    <nb-icon icon="refresh-outline" pack="eva" class="m-1"></nb-icon> Reset
                </span>
            </button>
        </div>
    </div>
</div>

<ng-template #addDetails let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-body>
        <div class="row task-name">
            <label class="col-12">Add Task</label>
            <input class="col-12" nbInput type="text">
        </div>
        <div class="row tag-name">
            <label class="col-12">Add Tag</label>
            <nb-tag-list (tagRemove)="onTagRemove($event)">
                <nb-tag *ngFor="let tag of tags" [text]="tag?.tagName" removable="tags.length > 1"></nb-tag>
                <input type="text" nbTagInput (tagAdd)="onTagAdd($event)" fullWidth>
              </nb-tag-list>
        </div>
        <div class="row comments">
            <label class="col-12">Comments</label>
            <textarea class="col-12" nbInput rows="5" cols="10"></textarea>
        </div>
        <!-- <div class="rating">
            <label>Rating</label>
        </div> -->
        <div class="submit">
            <button class="btn btn-info" nbButton status="basic" (click)="ref.close();saveDetails()">
                Save
            </button>
        </div>
      </nb-card-body>
    </nb-card>
  </ng-template>
